/* FONTS */

@font-face {
  font-family: 'SpaceKids';
  src: url('.//Space kids.otf');
}

@font-face {
  font-family: 'SpaceTime';
  src: url('./assets/spacetime-regular.ttf');
}

body {
    background-color: #000;
}

#playButton {
  font-size: 24px;
  padding: 10px 20px;
  background-color: rgb(255, 115, 236);
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'SpaceTime', sans-serif;
}

#startScreen {
  text-align: center;
  margin-top: 50px;
}

canvas {
  border: 4px solid white;
  display: block;
  margin: 0 auto;
}

#gameContainer {
    display: none; /* hides canvas by default */
}

#gameContainer canvas {
  border: 4px solid white;
  margin: 0 auto;
}

#gameInfo {
  text-align: center;
  color: white;
  margin-top: 20px;
}

h1, h2 {
    color: white;
    text-align: center;
    margin-top: 2vw;
    font: 100px;
    font-family: 'SpaceTime', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

p {
    text-align: center;
    font-family: 'SpaceKids', sans-serif;
    font-size: 20px;
    /* margin-left: 10vw; */
}